@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo',
    'Noto Sans KR', 'Malgun Gothic', sans-serif;
  margin: 0;
  font-weight: 400;

}

input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(19, 19, 19, 0.4);
  padding-bottom: 8px;
}

input::placeholder {
  color: rgba(19, 19, 19, 0.8);
  font-size: 12px;
}

input:focus {
  outline: none;
}

button {
  background-color: rgba(19, 19, 19, 0.1);
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

button text {
  font-weight: 500;
  color: rgba(19, 19, 19);
  font-size: 15px;
}